version: 2.1

workflows:
  my-workflow:
    jobs:
      - build

jobs:
  build:
    docker:
      - image: jimcrowley/container-auth-test:latest
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASS
     - image: cimg/mariadb:10.6
       command: [mongod, --smallfiles]
    resource_class: crowley-namespace/container-agent-preview
    steps:
      - checkout
      # - run:
      #     command: |
      #       stress --cpu 8 --io 4 --vm 2 --vm-bytes 128M --timeout 60s
      - run:
          command: |
            echo "Stress Test Done!"